*{
    margin: 0;
    padding: 0;
    
}
body
{
    background-color: rgb(43, 176, 36);
}

.logo
{
    margin-left: 1%;
}
.profile
{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    border: 2px black solid;
    width: 13vw;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
}

button.reset
{
    margin-top: 20px;
    width: 100px;
    font-weight: bolder;
    background-color:  #e4c131; 
}
button.reset:hover
{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    transition: ease-out 0.4s;
}

.better
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15vw;
    height: 17vh;
    position: absolute;
    top: 80%;
    left: 47vw;
    align-items: center;
    border: black 2px solid;
    border-radius: 10px;
}

.placing
{
    margin: 5px;
}

button.placing
{
    background-color:  #e4c131; 
    width: 90px;
    font-weight: bolder;
}

button.placing:hover
{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    transition: ease-out 0.4s;
}

.img7
{
    float: right;
    position: absolute;
    left: 34vw;
    top: 50px;
}

.pics
{
    border: 3px solid rgb(43, 176, 36);
    border-radius: 20px;
    margin: 10px;
}
.pics:hover
{
    cursor: pointer;
}

#d
{
    border-color: yellow;
}

.win {
    height: 77px;
    width: 300px;
    position: absolute;
    left: 42%;
    top: 50%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    border: 3px solid black;
    border-radius: 20px;
    align-items: center;
    padding: 5px;
}

.res
{
    position: absolute;
    left: 70vw;
}

.dc
{
    margin: 20px;
}

.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(30deg);
    }
}